[data-accent="purple"] {
  --theme-hue: 277;
  --accent-50: 0.978 0.011 277.000;
  --complement-50: 0.978 0.011 97.000;
  --contrast-50: 0.978 0.011 42.000;
  --accent-100: 0.936 0.033 277.000;
  --complement-100: 0.936 0.033 97.000;
  --contrast-100: 0.936 0.033 42.000;
  --accent-200: 0.881 0.064 277.000;
  --complement-200: 0.881 0.077 97.000;
  --contrast-200: 0.881 0.077 42.000;
  --accent-300: 0.827 0.095 277.000;
  --complement-300: 0.827 0.128 97.000;
  --contrast-300: 0.827 0.128 42.000;
  --accent-400: 0.742 0.146 277.000;
  --complement-400: 0.742 0.155 97.000;
  --contrast-400: 0.742 0.155 42.000;
  --accent-500: 0.648 0.135 277.000;
  --complement-500: 0.648 0.136 97.000;
  --contrast-500: 0.648 0.135 42.000;
  --accent-600: 0.573 0.116 277.000;
  --complement-600: 0.573 0.116 97.000;
  --contrast-600: 0.573 0.116 42.000;
  --accent-700: 0.469 0.097 277.000;
  --complement-700: 0.469 0.097 97.000;
  --contrast-700: 0.469 0.097 42.000;
  --accent-800: 0.394 0.078 277.000;
  --complement-800: 0.394 0.078 97.000;
  --contrast-800: 0.394 0.078 42.000;
  --accent-900: 0.320 0.059 277.000;
  --complement-900: 0.320 0.059 97.000;
  --contrast-900: 0.320 0.059 42.000;
  --accent-950: 0.238 0.049 277.000;
  --complement-950: 0.238 0.049 97.000;
  --contrast-950: 0.238 0.049 42.000;
}

[data-accent="orange"] {
  --theme-hue: 30;
  --accent-50: 0.978 0.011 30.000;
  --complement-50: 0.978 0.011 210.000;
  --contrast-50: 0.978 0.011 155.000;
  --accent-100: 0.936 0.033 30.000;
  --complement-100: 0.936 0.033 210.000;
  --contrast-100: 0.936 0.033 155.000;
  --accent-200: 0.881 0.077 30.000;
  --complement-200: 0.881 0.077 210.000;
  --contrast-200: 0.881 0.077 155.000;
  --accent-300: 0.827 0.125 30.000;
  --complement-300: 0.827 0.127 210.000;
  --contrast-300: 0.827 0.127 155.000;
  --accent-400: 0.742 0.155 30.000;
  --complement-400: 0.742 0.155 210.000;
  --contrast-400: 0.742 0.155 155.000;
  --accent-500: 0.648 0.135 30.000;
  --complement-500: 0.648 0.136 210.000;
  --contrast-500: 0.648 0.136 155.000;
  --accent-600: 0.573 0.116 30.000;
  --complement-600: 0.573 0.116 210.000;
  --contrast-600: 0.573 0.116 155.000;
  --accent-700: 0.469 0.097 30.000;
  --complement-700: 0.469 0.097 210.000;
  --contrast-700: 0.469 0.097 155.000;
  --accent-800: 0.394 0.078 30.000;
  --complement-800: 0.394 0.078 210.000;
  --contrast-800: 0.394 0.078 155.000;
  --accent-900: 0.320 0.059 30.000;
  --complement-900: 0.320 0.059 210.000;
  --contrast-900: 0.320 0.059 155.000;
  --accent-950: 0.238 0.049 30.000;
  --complement-950: 0.238 0.049 210.000;
  --contrast-950: 0.238 0.049 155.000;
}

[data-accent="neutral"] {
  --theme-hue: 242;
  --accent-50: 0.978 0.011 242.000;
  --complement-50: 0.978 0.011 62.000;
  --contrast-50: 0.978 0.011 7.000;
  --accent-100: 0.936 0.033 242.000;
  --complement-100: 0.936 0.033 62.000;
  --contrast-100: 0.936 0.033 7.000;
  --accent-200: 0.881 0.070 241.967;
  --complement-200: 0.881 0.077 62.000;
  --contrast-200: 0.881 0.077 7.000;
  --accent-300: 0.827 0.103 242.000;
  --complement-300: 0.827 0.128 62.000;
  --contrast-300: 0.827 0.128 7.000;
  --accent-400: 0.742 0.155 242.000;
  --complement-400: 0.742 0.155 62.000;
  --contrast-400: 0.742 0.155 7.000;
  --accent-500: 0.648 0.135 242.000;
  --complement-500: 0.648 0.135 62.000;
  --contrast-500: 0.648 0.135 7.000;
  --accent-600: 0.573 0.116 242.000;
  --complement-600: 0.573 0.116 62.000;
  --contrast-600: 0.573 0.116 7.000;
  --accent-700: 0.469 0.097 242.000;
  --complement-700: 0.469 0.097 62.000;
  --contrast-700: 0.469 0.097 7.000;
  --accent-800: 0.394 0.078 242.000;
  --complement-800: 0.394 0.078 62.000;
  --contrast-800: 0.394 0.078 7.000;
  --accent-900: 0.320 0.059 242.000;
  --complement-900: 0.320 0.059 62.000;
  --contrast-900: 0.320 0.059 7.000;
  --accent-950: 0.238 0.049 242.000;
  --complement-950: 0.238 0.049 62.000;
  --contrast-950: 0.238 0.049 7.000;
}

[data-accent="ocean"] {
  --theme-hue: 200;
  --accent-50: 0.978 0.011 200.000;
  --complement-50: 0.978 0.011 20.000;
  --contrast-50: 0.978 0.011 325.000;
  --accent-100: 0.936 0.033 200.000;
  --complement-100: 0.936 0.033 20.000;
  --contrast-100: 0.936 0.033 325.000;
  --accent-200: 0.881 0.077 200.000;
  --complement-200: 0.881 0.077 20.000;
  --contrast-200: 0.881 0.077 325.000;
  --accent-300: 0.827 0.128 200.000;
  --complement-300: 0.827 0.125 20.000;
  --contrast-300: 0.827 0.128 325.000;
  --accent-400: 0.742 0.155 200.000;
  --complement-400: 0.742 0.155 20.000;
  --contrast-400: 0.742 0.155 325.000;
  --accent-500: 0.648 0.136 200.000;
  --complement-500: 0.648 0.136 20.000;
  --contrast-500: 0.648 0.135 325.000;
  --accent-600: 0.573 0.116 200.000;
  --complement-600: 0.573 0.116 20.000;
  --contrast-600: 0.573 0.116 325.000;
  --accent-700: 0.469 0.097 200.000;
  --complement-700: 0.469 0.097 20.000;
  --contrast-700: 0.469 0.097 325.000;
  --accent-800: 0.394 0.078 200.000;
  --complement-800: 0.394 0.078 20.000;
  --contrast-800: 0.394 0.078 325.000;
  --accent-900: 0.320 0.059 200.000;
  --complement-900: 0.320 0.059 20.000;
  --contrast-900: 0.320 0.059 325.000;
  --accent-950: 0.238 0.049 200.000;
  --complement-950: 0.238 0.049 20.000;
  --contrast-950: 0.238 0.049 325.000;
}

[data-accent="forest"] {
  --theme-hue: 150;
  --accent-50: 0.978 0.011 150.000;
  --complement-50: 0.978 0.011 330.000;
  --contrast-50: 0.978 0.011 275.000;
  --accent-100: 0.936 0.033 150.000;
  --complement-100: 0.936 0.033 330.000;
  --contrast-100: 0.936 0.033 275.000;
  --accent-200: 0.881 0.077 150.000;
  --complement-200: 0.881 0.077 330.000;
  --contrast-200: 0.881 0.064 275.000;
  --accent-300: 0.827 0.127 150.000;
  --complement-300: 0.827 0.128 330.000;
  --contrast-300: 0.827 0.095 274.999;
  --accent-400: 0.742 0.155 150.000;
  --complement-400: 0.742 0.155 330.000;
  --contrast-400: 0.742 0.145 275.000;
  --accent-500: 0.648 0.136 150.000;
  --complement-500: 0.648 0.136 330.000;
  --contrast-500: 0.648 0.136 275.000;
  --accent-600: 0.573 0.116 150.000;
  --complement-600: 0.573 0.116 330.000;
  --contrast-600: 0.573 0.116 275.000;
  --accent-700: 0.469 0.097 150.000;
  --complement-700: 0.469 0.097 330.000;
  --contrast-700: 0.469 0.097 275.000;
  --accent-800: 0.394 0.078 150.000;
  --complement-800: 0.394 0.078 330.000;
  --contrast-800: 0.394 0.078 275.000;
  --accent-900: 0.320 0.059 150.000;
  --complement-900: 0.320 0.059 330.000;
  --contrast-900: 0.320 0.059 275.000;
  --accent-950: 0.238 0.049 150.000;
  --complement-950: 0.238 0.049 330.000;
  --contrast-950: 0.238 0.049 275.000;
}

[data-accent="rose"] {
  --theme-hue: 330;
  --accent-50: 0.978 0.011 330.000;
  --complement-50: 0.978 0.011 150.000;
  --contrast-50: 0.978 0.011 95.000;
  --accent-100: 0.936 0.033 330.000;
  --complement-100: 0.936 0.033 150.000;
  --contrast-100: 0.936 0.033 95.000;
  --accent-200: 0.881 0.077 330.000;
  --complement-200: 0.881 0.077 150.000;
  --contrast-200: 0.881 0.077 95.000;
  --accent-300: 0.827 0.128 330.000;
  --complement-300: 0.827 0.127 150.000;
  --contrast-300: 0.827 0.127 95.000;
  --accent-400: 0.742 0.155 330.000;
  --complement-400: 0.742 0.155 150.000;
  --contrast-400: 0.742 0.155 95.000;
  --accent-500: 0.648 0.136 330.000;
  --complement-500: 0.648 0.136 150.000;
  --contrast-500: 0.648 0.135 95.000;
  --accent-600: 0.573 0.116 330.000;
  --complement-600: 0.573 0.116 150.000;
  --contrast-600: 0.573 0.116 95.000;
  --accent-700: 0.469 0.097 330.000;
  --complement-700: 0.469 0.097 150.000;
  --contrast-700: 0.469 0.097 95.000;
  --accent-800: 0.394 0.078 330.000;
  --complement-800: 0.394 0.078 150.000;
  --contrast-800: 0.394 0.078 95.000;
  --accent-900: 0.320 0.059 330.000;
  --complement-900: 0.320 0.059 150.000;
  --contrast-900: 0.320 0.059 95.000;
  --accent-950: 0.238 0.049 330.000;
  --complement-950: 0.238 0.049 150.000;
  --contrast-950: 0.238 0.049 95.000;
}

